body{
    font: 12px/100% Arial, Helvetica, sans-serif;
    line-height:1.2em;
}
h1 {
    color:#77003e;
    font-size: 1.5em;
    text-align: center;
    padding: 0 0 0px 0;
    margin:0px;
    line-height:1.5em;
}
h2 {
    color:#4C293D;
    font-size: 1.3em;
    text-align: center;
    /*border-bottom: solid 1px #aaa;*/
    padding: 0 0 3px 0;
    margin:0px;
    line-height:1.3em;
}
strong {
    font-size: 1.0em;
    color:#222;
}

div {
    padding: 0 0;
}
